@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    min-height: 100vh;
    padding: 2%;
    background-image: url(../images/background-1.jpeg);
    background-repeat: repeat;
    background-size: 350px 350px;
    font-family: Roboto;
}

/*Navigation List Function*/
nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

/*Navigation Text*/
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    font-weight: semibold;
    font-style: oblique;
    font-size: 21px;
    background-color: rgba(46, 69, 22, 0.238);
    border: 1px solid rgb(233, 246, 219, 0.4);
    border-bottom: 0px;
    border-radius: 14px;
    box-shadow: 0px 6px 18px rgba(103, 131, 71, 0.8);
    backdrop-filter: blur(5px); 
    display: flex;
    align-items: center;
    color: rgb(237, 247, 225);
}

nav a:hover {
    background-color: rgb(217, 241, 190);
}

/*Navigation Sidebar Customization*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color:rgb(217, 241, 190);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.5);
    list-style: none;
    display: none;
    flex-direction: column;
    border-top-left-radius: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: black;
}

/*Header Container*/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

/*Header Customization*/
header {
    position: sticky;
    padding: 20px 40px;
    background-color: rgb(217, 241, 190);
    border-radius: 10px;
}

header h1, h2 {
    grid-column: span 4;
}
 
header nav {
    grid-column: 7 / span 5;
    justify-self:  end;
    text-align: right;
}

/*Main Content Container*/

/*Main Content Customization*/
.theme h1 {
    grid-column: 1 /span 12;
    text-align: center;
    font-size: 50px;
    background-color: rgba(46, 69, 22, 0.238);
    border: 1px solid rgb(233, 246, 219, 0.4);
    border-bottom: 0px;
    border-radius: 14px;
    box-shadow: 0px 6px 18px rgba(103, 131, 71, 0.8);
    backdrop-filter: blur(5px); 
    color:  rgb(240, 250, 228);
}

.theme p {
    grid-column: 1 ;
    width: 300px;
    height: auto;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    background-color: rgba(46, 69, 22, 0.238);
    border: 1px solid rgb(233, 246, 219, 0.4);
    border-bottom: 0px;
    border-radius: 14px;
    box-shadow: 0px 6px 18px rgba(103, 131, 71, 0.8);
    backdrop-filter: blur(5px); 
    color: rgb(240, 250, 228)
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
.card img {
    width: 150px;
    height: 250px;
    object-fit: wrap;
    display: block;
    border-radius: 10px;
}

.theme {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-column: 1 / span 12;
    padding: 30px 50px;
    margin-top: -50px;
    background-color: transparent;
    border-radius: 8px;
}

/*Events Container*/
.events {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    grid-column: 1 / span 12;
    padding: 100px 50px;
    
}

/*Events Customization*/
.events h2 {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 12;
    text-align: center;
    font-size: 30px;
    background-color: rgba(46, 69, 22, 0.238);
    border: 1px solid rgb(233, 246, 219, 0.4);
    border-bottom: 0px;
    border-radius: 14px;
    box-shadow: 0px 6px 18px rgba(103, 131, 71, 0.8);
    backdrop-filter: blur(5px); 
    color: rgb(240, 250, 228)
}

.event h3 {
    text-align: center;
    font-size: 18px;
    font-style: oblique;
    color:  rgb(240, 250, 228);
}

.event {
    padding: 10px 20px;
    gap: 10px;
    background-color: rgba(46, 69, 22, 0.238);
    border: 1px solid rgb(233, 246, 219, 0.4);
    border-bottom: 0px;
    border-radius: 14px;
    box-shadow: 0px 6px 18px rgba(103, 131, 71, 0.8);
    backdrop-filter: blur(5px); 
    color: rgb(237, 247, 225);
}

.event a:hover {
    background-color: wheat;
}
